DATABASE="mongodb+srv://username:password@cluster0.tlpf0fp.mongodb.net/database-name"
JWT_SECRET="CHUOINGAUNHIEN"
GMAIL_USER="abc@gmail.com" # gmail account
GMAIL_PASS="abcd abcd abcd abcd" # gmail password
CLOUDINARY_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
ZALOPAY_APPID="2554"
ZALOPAY_KEY1="sdngKKJmqEMzvh5QQcdD2A9XBSKUNaYn"
ZALOPAY_KEY2="trMrHtvjo6myautxDUiAcYsVtaeQ8nhf"
ZALOPAY_DOMAIN="https://sb-openapi.zalopay.vn"
WEBSITE_DOMAIN="" # website domain
VNPAY_TMNCODE="7L486899"
VNPAY_SECRET="NHDMUVZ3QV0HTP1PZMBQUQBJBCQJD94J"
VNPAY_URL="https://sandbox.vnpayment.vn/paymentv2/vpcpay.html"